<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <style>
        body {
            background-color: whitesmoke;
            height: auto;
        }
        .styled-header {
            background-color: #1b1b1b;
            color: #c2c2c2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }
        .right-part .btn-primary {
            text-decoration: none; color: #c2c2c2; background-color: initial; border: none
        }
        .right-part .btn-primary:hover {
            color: white;
        }
        .sidebar {
            background-color: white;
            padding: 0;
            width: 300px;
            height: 100%;
            margin-top: 20px;
            border-radius: 3px;
            position: fixed;
            z-index: 999;

        }
        .sidebar-btn-container {

        }
        .sidebar-link {
            display: flex;
            padding: 5px;
            border-radius: 3px;
            transition: background-color 0.5s ease, color 0.3s ease;
        }

        .sidebar-link:hover {
            background-color: dodgerblue;
            color: white;
        }

        .sidebar-link:not(:hover) {
            background-color: white;
            color: dodgerblue;
        }

        .sidebar-link[data-active="true"] {
            background-color: dodgerblue;
            color: white;
        }
        .content {
            margin-left: 300px;
            width: 80%;

        }
        .container-admin {
            margin: 0;
            width: 100%;
            max-width: 100%;
            padding: 20px 0 20px 20px;
        }
        .container-user-info {
            margin: 0;
            width: 100%;
            max-width: 100%;
            padding: 20px 0 20px 20px;
        }
        .tab-header {
            margin: 0;
            background-color: whitesmoke;
        }
        .table {
            border: #c2c2c2;
        }
        .tab-content {
            box-shadow: #c2c2c2 0 0 5px;
            background-color: white;
        }
        .table tbody tr:nth-child(even) {
            background-color: white;
        }

        .table tbody tr:nth-child(odd) {
            background-color: whitesmoke;
        }
        #new-user-form {

            padding: 30px 30% 30px 30%;
        }

    </style>
</head>
<body>
<header class="styled-header">
       <div class="left-part">
            <strong><span id="auth-username"></span></strong> with roles: <span id="auth-roles"></span>
       </div>
        <div class="right-part">
            <form class="form" method="POST" action="/logout">
                <a class="btn btn-primary" type="submit" href="/logout">Logout</a>
            </form>
        </div>
</header>

<div class="sidebar">
    <div class="sidebar-btn-container">
        <a class="sidebar-link" data-active="true" style="text-decoration: none; font-size: 20px" id="admin-panel-link" href="#" onmouseleave="returnColor(this)" onmousemove="editColor(this)" onclick="showAdminPanel()">Admin</a>
    </div>
    <div class="sidebar-btn-container">
        <a class="sidebar-link" data-active="false" style="text-decoration: none; font-size: 20px;" id="user-info-link" href="#" onmouseleave="returnColor(this)" onmousemove="editColor(this)" onclick="showUserInfo()">User</a>
    </div>
</div>

<div class="content">
    <div class="container-admin" id="admin-panel">
    <h1>Admin panel</h1>
        <div class="container-nav">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users-tab" aria-selected="true">User table</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new-tab" aria-selected="false">New user</a>
            </li>
        </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
                    <div class="tab-container">
                        <div class="tab-header">
                            <h3 style="padding: 10px; margin: 0">All users</h3>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody id="users-table-body"></tbody>
                        </table>
                        <div id="modals-container"></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="new-tab">
                    <div class="tab-container">
                        <div class="tab-header">
                            <h3 style="padding: 10px; margin: 0">Add new user</h3>
                        </div>
                        <div class="tab-body">
                            <form id="new-user-form">
                                <div class="form-group">
                                    <label for="new-username">Email</label>
                                    <input type="text" class="form-control" id="new-username" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="new-password">Password</label>
                                    <input type="password" class="form-control" id="new-password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="new-name">Name</label>
                                    <input type="text" class="form-control" id="new-name" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="new-lastName">Last name</label>
                                    <input type="text" class="form-control" id="new-lastName" placeholder="Last name">
                                </div>
                                <div class="form-group">
                                    <label for="new-age">Age</label>
                                    <input type="number" class="form-control" id="new-age" placeholder="Age">
                                </div>
                                <div class="form-group">
                                    <label for="new-roles">Role</label>
                                    <select multiple class="form-control" id="new-roles"></select>
                                </div>
                                <button type="submit" id="form-btn-submit" onclick="saveUser()" style="width: 80%; margin-right: 10%; margin-left: 10%" class="btn btn-primary">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-user-info" style="display: none" id="user-info">
        <h1>User information-page</h1>
        <div class="container-nav">
            <div class="tab-content">
                <div class="tab-header">
                    <h3 style="padding: 10px; margin: 0">About user</h3>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody id="user-table-body"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    async function returnColor(link) {
        const adminPanel = document.getElementById('admin-panel');
        const adminPanelLink = document.getElementById('admin-panel-link');
        const userInfo = document.getElementById('user-info');
        const userInfoLink = document.getElementById('user-info-link');
        if (link.id === 'admin-panel-link') {
            if (adminPanel.style.display !== 'none') {
                adminPanelLink.style.backgroundColor = 'dodgerblue';
                adminPanelLink.style.color = 'white';
                userInfoLink.style.backgroundColor = 'white';
                userInfoLink.style.color = 'dodgerblue';
            }
            if (userInfo.style.display !== 'none') {
                adminPanelLink.style.backgroundColor = 'white';
                adminPanelLink.style.color = 'dodgerblue';
                userInfoLink.style.backgroundColor = 'dodgerblue';
                userInfoLink.style.color = 'white';
            }
        }
        if (link.id === 'user-info-link') {
            if (adminPanel.style.display !== 'none') {
                adminPanelLink.style.backgroundColor = 'dodgerblue';
                adminPanelLink.style.color = 'white';
                userInfoLink.style.backgroundColor = 'white';
                userInfoLink.style.color = 'dodgerblue';
            }
            if (userInfo.style.display !== 'none') {
                adminPanelLink.style.backgroundColor = 'white';
                adminPanelLink.style.color = 'dodgerblue';
                userInfoLink.style.backgroundColor = 'dodgerblue';
                userInfoLink.style.color = 'white';
            }
        }
    }
    async function editColor(link) {
        const adminPanelLink = document.getElementById('admin-panel-link');
        const userInfoLink = document.getElementById('user-info-link');
        if (link.id === 'admin-panel-link') {
            adminPanelLink.style.backgroundColor = 'dodgerblue';
            adminPanelLink.style.color = 'white';
            userInfoLink.style.backgroundColor = 'white';
            userInfoLink.style.color = 'dodgerblue';
        }
        if (link.id === 'user-info-link') {
            adminPanelLink.style.backgroundColor = 'white';
            adminPanelLink.style.color = 'dodgerblue';
            userInfoLink.style.backgroundColor = 'dodgerblue';
            userInfoLink.style.color = 'white';
        }

    }
    async function showAdminPanel() {
        const adminPanel = document.getElementById('admin-panel');
        const adminPanelLink = document.getElementById('admin-panel-link');
        const userInfo = document.getElementById('user-info');
        const userInfoLink = document.getElementById('user-info-link');
        if (adminPanel.style.display === 'none') {
            adminPanel.classList.add('show');
            userInfo.classList.remove('show');
            adminPanel.style.removeProperty('display');
            adminPanelLink.style.backgroundColor = 'dodgerblue';
            adminPanelLink.style.color = 'white';
            userInfoLink.style.backgroundColor = 'white';
            userInfoLink.style.color = 'dodgerblue';
            userInfo.style.display = 'none';
        }
    }
    async function showUserInfo() {
        const adminPanel = document.getElementById('admin-panel');
        const adminPanelLink = document.getElementById('admin-panel-link');
        const userInfo = document.getElementById('user-info');
        const userInfoLink = document.getElementById('user-info-link');
        if (userInfo.style.display === 'none') {
            adminPanel.classList.remove('show');
            userInfo.classList.add('show');
            userInfo.style.removeProperty('display');
            userInfoLink.style.backgroundColor = 'dodgerblue';
            userInfoLink.style.color = 'white';
            adminPanelLink.style.backgroundColor = 'white';
            adminPanelLink.style.color = 'dodgerblue';
            adminPanel.style.display = 'none';
        }
    }
    async function getAllUsers(){
        const response = await fetch('/api/all');
        const users = await response.json();
        return users
    }
    async function getCurrentUser() {
        const response = await fetch('/api/auth');
        return await response.json();
    }

    async function getRoles() {
        const response = await fetch('/api/roles');
        const roles = await response.json();
        return roles
    }

    async function saveUser() {
        document.getElementById('new-user-form').addEventListener('submit', async function (event) {
            event.preventDefault();

            const rolesData = await getRoles();
            const username = document.getElementById('new-username').value;
            const password = document.getElementById('new-password').value;
            const name = document.getElementById('new-name').value;
            const surname = document.getElementById('new-lastName').value;
            const age = document.getElementById('new-age').value;
            const rolesArray = Array.from(document.getElementById('new-roles').selectedOptions).map(option => {
                const role = rolesData.find(roleObj => roleObj.name === option.text);
                return {id: role.id, name: role.name};
            });
            const formData = {username, password, name, surname, age, roles: rolesArray};

            const response = await fetch('/api/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            });
            const result = await response.json();
            console.log(result);
        })
    }

    async function deleteUser(user) {
        const response = await fetch('/api/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(user)
        });
        const result = await response.json();
        return result
    }

    async function updateUser(user) {
        const response = await fetch('/api/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(user)
        });
        const result = await response.json();
        return result
    }

    const auth = getCurrentUser();
    auth.then((data) => {
        document.getElementById('auth-username').textContent = data.username
        document.getElementById('auth-roles').textContent = data.roles.map(r => r.name).join(' ')
        document.getElementById('user-table-body').innerHTML += `
            <tr>
                <td>${data.id}</td>
                <td>${data.username}</td>
                <td>${data.name}</td>
                <td>${data.surname}</td>
                <td>${data.age}</td>
                <td>${data.roles.map(role => role.name).join(' ')}</td>
            </tr>
            `
    })

    getAllUsers().then((users) => {
        users.forEach(user => {
            document.getElementById('users-table-body').innerHTML += `
            <tr>
                <td>${user.id}</td>
                <td>${user.username}</td>
                <td>${user.name}</td>
                <td>${user.surname}</td>
                <td>${user.age}</td>
                <td>${user.roles.map(role => role.name).join(' ')}</td>
                <td><button class="btn btn-primary" onclick="editUser(${user.id})">Edit</button></td>
                <td><button class="btn btn-danger" onclick="deleteUser(${user.id})">Delete</button></td>
            </tr>
            `
        })
    })

    getRoles().then((roles) => {
        roles.forEach(role => {
            document.getElementById('new-roles').innerHTML += `
            <option value="${role}">${role.name}</option>
            `
        })
    })

</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>