<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <style>
    body {
        background-color: whitesmoke;
        padding: 0;
        margin: 0;
    }
    .container {
        padding: 40px;
        margin: 0 auto;
        width: 20%;
    }
    .form {
        align-content: center;
    }
    .form-control {
        width: 100%;
        margin: 0 auto;
    }
    .btn-primary {
        margin-top: 10px;
        width: 100%;
    }
    </style>
</head>
<body>
<div class="container">
    <h1>Please sign in</h1>
    <form class="form" method="POST" action="/process_login" id="login-form">
        <input class="form-control" type="text" name="username" id="username" placeholder="Email address...">
        <input class="form-control" type="password" name="password" id="password" placeholder="Password...">
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>