<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Admin</title>
    <style>
        body {
            background-color: whitesmoke;
            margin: 0;
            padding: 0;
            width: auto;
            height: 90vh;
        }
    </style>
</head>
<body>

<h1>User information-page</h1>

<div class="user-info-container">
    <div class="tab-container">
        <div class="tab-header">
            <h3 style="padding: 10px; margin: 0">About user</h3>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody id="user-table-body"></tbody>
        </table>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Функция для загрузки пользователей
        async function loadUser() {
            fetch('/api/auth')
                .then(response => response.json())
                .then(user => {
                    const tableBody = document.getElementById('user-table-body');
                    tableBody.innerHTML = '';
                        const row = document.createElement('tr');
                        row.innerHTML = `
                        <td>${user.id}</td>
                        <td>${user.name}</td>
                        <td>${user.surname}</td>
                        <td>${user.age}</td>
                        <td>${user.username}</td>
                        <td>${user.roles.map(role => role.name).join(' ')}</td>
                    `;
                        tableBody.appendChild(row);
                })
                .catch(error => console.error('Ошибка при загрузке пользователя:', error));
        }

        loadUser(); // Начальная загрузка списка пользователей
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>